* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(./the_verse_img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.content {
    width: 88%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.content .logo {
    width: 100px;
    margin-top: 50px;
}

.content hr {
    border: none;
    height: 6px;
    max-width: 20%;
    margin-top: 8px;
    background: #ffa1a1;
}

h1 {
    font-size: 200px;
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 30px;
    letter-spacing: 4px;
    color: #cfcfcf;
    line-height: 160px;
}

.content p {
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 14px;
}

.btn {
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 50px;
}

.btn:hover {
    background-color: #ffa1a1;
    border-color: #ffa1a1;
    color: #000;
    transition: all 1s;
}

.btn2 {
    float: right;
}

.sidebar {
    width: 30%;
    max-width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    /* backdrop-filterın calısabilmesi için bir transparantık olmalıdır.
}
/* bg color rgba ile verdik.Opacity verseydik hepsini opak yapacaktı. */
/* positon absolute un çalışabilmesi parenta bir pozisyon verilmesi gerekir. */
}
.menu {
 width: 80px;
 position: absolute;
 right: 0;
 top: 0;
 cursor: pointer;
 
}

@media screen and (max-width:760px) {
    .btn{
        width: 100px;
    }
    .content{
        width: 90%;
    }
    .sidebar {
        width: 30%;
    }
    h1 {
        font-size: 150px;
        line-height: 8rem;
    }
   
}